# .env.example

# Database connection URL
DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"

# Set your application secret (used for JWT, cookies, etc.)
APP_SECRET="your-app-secret-key"
JWT_EXP=5m
JWT_SECRET=very_secret
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
YANDEX_APP_ID="YOUR_YANDEX_APP_ID"
YANDEX_APP_SECRET="YOUR_YANDEX_APP_SECRET"
PORT="adress"
BREVO_SMTP_KEY="KEY"
SMTP_HOST="HOST"
SMTP_PORT="PORT"
SMTP_USER="USET"
SMTP_FROM="NAME"